<div class="video-bg">
  <video src="https://storage.googleapis.com/coverr-main/mp4%2Fcoverr-young-woman-filming-sunset--1578567528955.mp4" loop autoplay muted></video>
  <div class="image-bg">
    <img alt="" src="https://images.unsplash.com/photo-1581382576900-346ba2621709?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ" />
  </div>
  <div class="overlay-content">
    <h1>Here's a heading</h1>
  <p>In a greyscale design, it is possible to switch between dark-on-light and light-on-dark with a simple filter declaration. Consider the following code.</p>
  </div>
  <button class="play-pause" aria-label="pause video">
    <i class="fa fa-pause" aria-hidden="true"></i>
  </button>
</div>