<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>{{ _target.label }} | Preview Layout</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{{ path '/css/global.css' }}">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>
<body>

	{{{ yield }}}

<script type="text/javascript" src="{{ path '/js/bundle.js' }}"></script>
</body>
</html>